@font-face {
	font-family: Raleway;
	src: url(../fonts/static/Raleway-Light.ttf);
}

html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #0F2027;
}

input {
	font-family: Raleway;
	font-size: larger;
	background: transparent;
	color: white;
	width: 300px;
	margin: 15px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-width: thin;
	border-bottom-color: white;
}

input::placeholder {
	font-family: Raleway;
	color: white;
	font-size: 20px;
	font-weight: normal;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
}

.logo {
	margin-bottom: 10px;
	max-width: 100%;
}

.btn-nav:hover {
	color: #0F2027;
	cursor: pointer;
	transition: all 0.5s;
}

.btn {
	border-radius: 10px;
	border-width: 1px;
	border-color: #f2fdff;
	border-style: solid;
	background-color: #0F2027;
	color: #f2fdff;
	text-align: center;
	font-family: Raleway;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	width: 300px;
	height: auto;
	transition: all 0.5s;
}

.btn:hover {
	border-color: green;
	background-color: green;
	text-decoration: none;
	text-align: center;
	font-family: Raleway;
	cursor: pointer;
	color: white;
}

.botao-voltar {
	border-radius: 10px;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	background-color: #0F2027;
	color: white;
	text-align: center;
	font-family: Raleway;
	font-size: 25px;
	font-weight: bold;
	padding: 10px;
	width: auto;
	height: auto;
	cursor: pointer;
	transition: all 0.5s;
}

.botao-voltar:hover {
	border-color: gray;
	background-color: gray;
	color: white;
	text-decoration: none;
	outline: 0;
	font-weight: bold;
	cursor: pointer;
}

footer {
	margin-top: 60px;
	background-color: #202020;
	color: white;
	padding: 20px 0;
}

#link {
	font-size: 15px;
	font-weight: bold;
	color: white;
	transition: all 0.5s;
}
#link:hover{
	color: #7f6fc1;
	font-weight: bold;
}

.socials {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding-right: 20px;
	text-decoration: none;
}

hr{
	height: 1px;
	border-color: #373737;
}